<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chameleon-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,1},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,1},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,485},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,485},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,485},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,485},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,485},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,485},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,687},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,969},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,969},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,1373},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,1373},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,1373},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,1373},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1373,1373},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{485,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{969,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1453,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1453,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1453,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1453,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1453,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{969,2059},{482,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chameleon-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,1453},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{687,1453},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chameleon-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,684}</string>
                <key>spriteSourceSize</key>
                <string>{550,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{482,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>chameleon.png</string>
            <key>size</key>
            <string>{1936,2744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21d4d98cde9cdd18bc12354eb965f51:4e40bc0ab9071a6f8744ed8ab1b913e1:5066047ff6dce96ef4e29c259a78d1ff$</string>
            <key>textureFileName</key>
            <string>chameleon.png</string>
        </dict>
    </dict>
</plist>
